.main-menu {
  list-style-type: none;
  display: flex;
}

.main-menu__link {
  text-decoration: none;
}

.main-menu__link_type_login {

}

.menu__button:hover {
  opacity: 0.7;
}

.main-menu__button {
  color: #fff;
  background: transparent;
  border: none;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.main-menu__button:hover {
  opacity: 0.8;
}

.main-menu__button_type_login {
  background: #3DDC84;
  cursor: pointer;
  transition: 0.5s;
}

.main-menu__button_type_login:hover {
  opacity: 0.8;
}