.auth-title {
  margin: 40px auto 40px;
  text-align: start;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.auth-title_place_profile {
  margin-bottom: 123px;
  text-align: center;
  padding-left: 39px;
}

@media screen and (max-width: 1024px) {

  .auth-title_place_profile {
    margin-top: 0px;
    padding-left: 3px;
  }

  .profile__input-label {
    padding-left: 2px;
  }

  .auth-title_place_profile {
    margin-bottom: 96px;
    margin-top: 236px;
  }

  .profile__buttons {
    padding-left: 1px;
  }
}

@media screen and (max-width: 680px) {
  .auth-title {
    margin: 43px auto 80px;
  }

  .auth-title_place_profile {
    margin-bottom: 80px;
    margin-top: 70px;
  }
}