.promo {
  padding: 0 70px;
}

.promo__content {
  background-color: #272727;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-top: 160px;
}

.promo__title {
  margin: 0 auto;
  max-width: 730px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
}

.promo__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 151px;
  margin-bottom: 30px;
  padding: 0;
}

.promo__list-item{
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border: 1px solid #303030;
  background: #303030;
  border-radius: 10px;
  padding: 10px;
  width: 78px;
  gap: 23.5px;
}

@media screen and (max-width: 1024px) {

  .promo {
    padding: 0 20px;
  }

  .promo__content {
    padding-top: 350px;
  }

  .promo__title {
    max-width: 680px;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.6px;
  }

  .promo__list {
    margin-top: 324px;
    margin-bottom: 40px;
  }
}