.about-project {
  margin: 110px auto 0;
}

.about-project__content {
  padding: 0 70px;
}

.about-project__descriptions {
  list-style-type: none;
  display: flex;
  justify-content: start;
  gap: 40px;
  margin-top: 70px;
  margin-bottom: 0;
  padding: 0;
}

.about-project__descriptions-item {

}

.about-project__descriptions-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  max-width: 550px;
  margin: 0;
}

.about-project__descriptions-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 550px;
  margin: 0;
  margin-top: 26px;
}

.about-project__schedule {
  margin: 0;
  padding: 0;
  margin-top: 89px;
  display: flex;
  list-style-type: none;
}

.about-project__schedule-item {
  margin-bottom: 110px;
}

.about-project__schedule-item_type_long {

}

.about-project__schedule-title {
  margin: 0;
  width: 198px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: 1px solid #3DDC84;
  background: #3DDC84;
  padding: 9px 14px;
  color: #000000;
}

.about-project__schedule-title_type_long {
  margin: 0;
  max-width: 912px;
  border: 1px solid #303030;
  background: #303030;
  color: #FFFFFF;
  padding: 9px 356px;
}

.about-project__schedule-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
}

@media screen and (max-width:1024px) {

  .about-project {
    margin: 90px auto 0;
  }

  .about-project__descriptions-text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }

  .about-project__schedule {
    margin-top: 93px;
  }


  .about-project__schedule-item {
    margin-bottom: 130px;
  }

  .about-project__schedule-title {
    box-sizing: border-box;
    width: 140px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 9px 10px;
  }

  .about-project__schedule-title_type_long {
    box-sizing: border-box;
    width: 528px;
    padding: 9px 206px;
  }

  .about-project__schedule-text {
    margin: 0;
    margin-top: 23px;
  }
}