.footer {

}

.footer__content {

}

.footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8B8B8B;
  text-align: center;
  width: 320px;
  margin: 79px auto 0;
}

.footer__container {
  border-top: 1px solid #424242;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__date {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__nav-bar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer__nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
}
