.techs {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  padding-top: 110px;
}

.techs__content {
  padding: 0 70px;
}

.techs__title {
  margin: 90px auto 0;
  width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  text-align: center;
}

.techs__subtitle {
  margin: 26px auto 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  max-width: 460px;
  text-align: center;
}

.techs__list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.techs__list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  border: 1px solid #303030;
  border-radius: 10px;
  background-color: #303030;
  padding: 21px 0 22px;
  width: 90px;
}